<configuration>

    <appender name="logbackAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logbackAppender"/>   <!-- Default global logging level -->
    </root>
    <logger name="com.hiperium.city.tasks.events" level="DEBUG" additivity="false">
        <appender-ref ref="logbackAppender"/>
    </logger>
    <logger name="com.networknt.schema" level="ERROR" />
</configuration>
